*{
    margin: 0;
    padding: 0;
    
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #64B5F6;
    color: white;
}

.logo{
    font-size: 2rem;
    
}

.nav_links{
    list-style: none;
    display: flex;
    
    align-items: center;
    width: 16rem;
    justify-content: space-evenly;
}

.heading_animation{
    height: 6rem;
    display: flex;
    
    justify-content: center;
    background-color: violet;
}

.heading_animation h2{
    display: flex;
    align-items: center;
}