@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Montserrat";
}


.container{
    display: flex;
    justify-content: center;
    
    border: 1px solid black;
    height: 60vh;
}

.item_container{
    width: 20%;
    text-align: center;
    margin-top: 2.5rem;
    height: 40%;
    border-radius: 5px;
    border: 1px solid rgb(146, 144, 144);
}

.image_container{
    width: auto;
    height: auto;
}
