*{
    margin: 0;
    padding: 0;
}

.search{
    display: flex;
    justify-content: center;

    height: 5rem;

}

.search_user{
    display: flex;
    margin-top: 1rem;
   height: 2rem;
   border-radius: 3px;
    align-items: center;
    
}