
.signup_container{

    width:100%;
    /* border:1px solid black; */
}

form{
    padding:1rem;
   /*  border: 1px solid black */
}

.username_input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:100%;
   
    border: 1px solid rgb(155, 154, 154);
    height: 2rem;
}
.username_input:hover{
    border: 1px solid rgb(82, 82, 82);
    background-color:rgb(243, 243, 243);
}

.password_input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:100%;
    border: 1px solid rgb(155, 154, 154);
    
    height: 2rem;
}

.password_input:focus{
    /* border: 2px solid blue; */
    outline: 1px solid rgb(115, 115, 116);
}
.username_input:focus{
    outline: 1px solid rgb(115, 115, 116);
}
.password_input:hover{
    border: 1px solid rgb(82, 82, 82);
    background-color:rgb(243, 243, 243);
}

.username_label{
   margin-left: 1rem;
}
.password_label{
    margin: 1rem;
    height: 2rem;
}

.submit_btn{
    background-color:rgb(161, 161, 161);
    color:rgb(36, 36, 36);
    width:100%;
    border:none;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 1rem;
    width:90%;
    margin-left:.8rem;
        padding:1rem;
}

.submit_btn:hover{
    background-color: rgb(190, 190, 190);
}