*{
    margin: 0;
    padding: 0;
}

.search{
    display: flex;
    justify-content: center;
    background-color:  aliceblue;
    height: 5rem;

}




.search_user{
    background-color: white;
   height: 2rem;
  max-width: 25%;
}


@media (max-width:480px) {
    .search_user{
        max-width: 80%;
    }
}